<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Tell us what you want</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <h3 style="color:#fff"> MAGICAL PATCHES</h3>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <p style="color:#fff"><span>sales:</span> Ken Ng | Allan Zhang | Stever Zhu</p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <p style="color:#fff"><span>Tel:</span> (86)18665379869 | (86)15813720020 | (86)13632915866</p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <p style="color:#fff"><span>Skype:</span> magical_patches@hotmail.com</p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <p style="color:#fff"><span>Email:</span><a href="mailto:magical_patches@163.com" title="magical_patches@163.com"> magical_patches@163.com</a> | <a href="mailto:magical_patches@hotmail.com" title="magical_patches@hotmail.com"> magical_patches@hotmail.com</a></p>
                                </div>
                                <div class="control-group form-group">
                                    <p style="color:#fff"><span>Add:</span>The 3th floor of Ankang Road NO.43,Henggang Town,Longgang District,Shenzhen</p>
                                </div>
                            </div>
                            <div class="col-md-6">                                                                        
                                <div class="control-group form-group">
                                    <p style="color:#fff">We'll be happy to assist you in any way we can.</p>
                                    <p style="color:#fff">Have a question or concern? </p>
                                    <p style="color:#fff">Please don't hesitate to contact us. </p>
                                    <p style="color:#fff">You can find us through these contacts, and we will reply as soon as we receive your information </p>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
